/*CSS Resets */

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
/*referd by tag - selector*/
body{
	background: teal;
background: rgb(167,249,210);
background: linear-gradient(90deg, rgba(167,249,210,0.13068977591036413) 0%, rgba(193,109,118,1) 50%, rgba(123,246,182,1) 100%);
}

/*refered by class - selector*/
.second{
	color: red;
}

/*refered by id (unique) this will override and everything else - selector*/
#sec-para{
	color: blue;
	border:2px solid white;
	padding: margin
	margin: 50px;
	border : 2px solid;
}

/* float property helps to display */
section{
	width: 50%;
	float: left;
	border: 3px solid white;
	padding:20px;
	margin:20px;

}

section::after{
	clear:both;
}
/profileImage{
	width: 800px;
	height: 800px;
	align-items: center;
}
/
